.config
venv
.upm
.replit
replit.nix
number_datatype/__pycache__
list_datatype/__pycache__
string_datatype/__pycache__
tupple_datatype/__pycache__
dictionary_datatype/__pycache__
set_datatype/__pycache__
inputoutput/__pycache__
ifelifelse/__pycache__